* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Harry P';
    src: url("/Users/yingying/FSA Junior Phase/express_dealers_choice/public/HARRYP__.TTF");
}

@font-face {
    font-family: 'EB Garamound';
    src: url("/Users/yingying/FSA Junior Phase/express_dealers_choice/public/EBGaramond-VariableFont_wght.ttf");
}
.title {
    background-image: url('hogwarts.jpeg');
    text-align: center;
    color: black;
}

header{
    font-family: 'Harry P';
    letter-spacing: .5rem;
    font-size: 70px;
    padding: 1.5rem;
    color: white;
    opacity: .8;
    border: solid 4px white;
    border-radius: 2rem;
}

.info, .content {
    display: inline-block;
    margin: 1rem;
    background-color: white;
    opacity: .65;
    height: 11rem;
    font-family: 'EB Garamound'; 
}

.info p{
    font-size: 130%;
    padding: 2.5rem 1.5rem 1.2rem 1.5rem;
    line-height: 0;
}

.info a:link{
    text-decoration: underline;
    color: black;
}

.info a:hover{
    text-decoration: none;
    color: gray;
}

.header {
    font-size: 130%;
}

.content {
    font-size: 120%;
    height:inherit;
    margin: 3rem 20rem 5rem 20rem;    
    padding: 3rem;
    line-height: 3rem;
    text-indent: 5rem;
    text-align: left;
    opacity: .85;
    background-color: black;
    color: white;
    border-radius: 1rem;
}

.not-found {
    font-family: Harry P;
    font-size: 400%;
    text-align: center;
    margin: 10rem;
}

header a:link {
    text-decoration: underline;
    color: white;
}

header a:hover {
    text-decoration: none;
    font-weight: bolder;
}